body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: url("../images/background.jpg") 
}

main {
    margin: 20px;
    padding: 20px;
    color: white;
}

h1,h2, h3 {
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}

p {
    line-height: 1.6;
}

/* first-letter pseudo-element */
.intro::first-letter {
    font-size: 32px;
    font-weight: bold;
    color: red;


}

/* pseudo-class selector */
a:hover {
    color: yellow;
}

/* contextual selector */
section p {
    font-size: 18px;
}

/* attribute selector */
a[target="_blank"] {
    font-weight: bold;
    text-decoration: underline;
}

/* table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #7a1f1f;
    color: white;
}

tr:nth-child(even) {
    
    background-color: rgb(154, 149, 149);
}
/* https://www.w3schools.com/cssref/sel_nth-child.php */
/* Making even rows more opague */

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}
/* leaving odd rows more transparent color */
/* code blocks */
#code {
  
    color: white;
    padding: 10px;
   
}

.hyperlinks a{
    color: white;
    font-weight: bold;
    text-align: center;
    
}
.hyperlinks {
    text-align: center;
}

#figure {
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}


