body {
    background: url(background.jpg) no-repeat
}

h1,h2 {
    color:white;
    font-family: Roboto, sans-serif;
}

nav {
    background-color: #757060;
    padding: 15px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    font-family: Arial;
    text-decoration: none;
    margin-right: 100px;
}

#contact {
    color:white;
}

fieldset {
    color:white;
}

#welcome {
    color: white;
}